.friend_card_active {
     background-color: var(--bs-primary) !important;
    color: var(--bs-white) !important;
}
.p-hover svg {
    color:  #fff;
}
 .p-hover:hover .p-relative-center {
    display: unset !important;
}

#sideIcons div {
    padding:  5px;
}

i {
    cursor: pointer;
}

#icons {
    height: 100vh;
}

#icons div {
    height:  50%;
}
#icons bi {
        font-size: 6rem;
}

#ftb {
    position: fixed;
    right:  50px;
    bottom: 25px;
    z-index: 2;
}

.hide1 {
    display: none !important;
}

.hide {
    display: none;
}

.show {
    display: unset !important;
}

#traffic {
    position: unset;
}

.user-icon {
    width: 100%;
    border-radius: 50%;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

